@model IEnumerable<ZeroHunger.DB.FoodCollection>

@{
    ViewBag.Title = "CollectionRequests";
}

<h2>CollectionRequests</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedEmployee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedRestaurant)
        </th>
        <th>
            Restuarant Location
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGOEmployee.Name)
        </td>
        <td>
            @item.Restaurant.Name
        </td>
        <td>
            @item.Restaurant.Location
        </td>
        <td>
            @Html.ActionLink("Assign Employee", "AssignToEmployee", new { id = item.Id })
        </td>
    </tr>
}

</table>
<a href="/Admin/Dashboard">Back To Dashboard</a>