@model IEnumerable<ZeroHunger.DB.FoodCollection>

@{
    ViewBag.Title = "My Collection Request";
}

<h2>My Collection Request</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedRestaurant)
        </th>
        <th>
            Restaurant Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>

        <td>
            @item.Restaurant.Name
        </td>
        <td>
            @item.Restaurant.Location
        </td>
        @if (item.Status == "pending")
        {
            <td>
                @Html.ActionLink("Mark As Collected", "MakeCollected", new { id = item.Id })
            </td>
        }
    </tr>
}

</table>

<br />
<a href="/Employee/Dashboard">Back to Dashboard</a>
